*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.6;
    background: url("../images/leaves-pattern.png") repeat;
    color: #777777;
    position: relative;
}

h1,
h2,
h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h1 {
    margin-bottom: 30px;
    color: #4aaaa5;
    font-size: 30px;
    padding-bottom: 20px;
    border-bottom: 3px solid #dddddd;
    line-height: 1;
}


/* ========== HEADER ========== */
.header {
    width: 100%;
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
}

.header-contents {
    width: 960px;
    /*height: 50px;*/
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.name {
    padding: 15px 40px;
    color: #ffffff;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 36px;
    font-weight: bold;
}

.navigation {
    list-style: none;
    display: flex;
}

.navigation li {
    padding-left: 15px;
}

.navigation li:not(:last-of-type) {
    padding-right: 15px;
    border-right: 1px solid #dedede;
}

.navigation a {
    color: #777777;
    text-decoration: none;
    transition: color .3s;
}

.navigation a:hover {
    color: #e1821d;
}


/* ========== MAIN CONTENTS ========== */
.container {
    width: 960px;
    margin: 30px auto 100px;
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}


/* ========== FOOTER ========== */
.footer {
    width: 100%;
    padding: 30px 10px 10px;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.4);
}

/* ========== ABOUT ME ========== */
.about-contents {
    display: flex;
}

.my-photo {
    margin-right: 20px;
}

/* ========== PORTFOLIO ========== */
.portfolio-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.portfolio-list li {
    margin-right: 46px;
    position: relative;
}

.portfolio-link {
    opacity: 1;
    transition: opacity .3s;
}

.portfolio-link:hover {
    opacity: .7;
}

.portfolio-list li:not(:last-of-type) {
    margin-bottom: 30px;
}

.portfolio-title {
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 20px;
    left: 0;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    font-weight: normal;
    background-color: #4aaaa5;
    transition: background-color .3s;
}

.portfolio-link:hover .portfolio-title {
    background-color: #e1821d;
}

/* ========== CONTACT ========== */
.contact-form {

}

.contact-item {
    margin-bottom: 20px;
}

.contact-form label,
.contact-form input {
    display: block;
}

.contact-form label {
    margin-bottom: 5px;
}

.input-text {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
}

.contact-form textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
}

.submit-btn {
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color .3s;
}

.submit-btn:hover {
    background-color: #e1821d;
}



